name: Bump Version

on:
  push:
    branches:
      - master

jobs:
  bump-version:
    name: "Automated Version Bump"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: "phips28/gh-action-bump-version@master"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}